<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= heading %></h1>
    <p><%= message %></p>
    <a href="<%= link %>">Click here to contact us</a>
  </body>
</html>